<!-- <header>
  <a href="back to quests">
    <img src="" alt=""> back arrow
  </a>

</header> -->


<h2> QUEST <%= @quest.id %> </h2>

<div class="map">
  <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
</div>

<div class="task">
  <p>
    Sticker located under bench
    Quest Value = <%= @quest.point_value%>
  </p>

  <form action="/quests/<%=@quest.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <label for="">Enter your code: </label>
    <input type="text" name="answer_input" value="">
    <input type="hidden" name="quest_id" value="<%=@quest.id %>">
    <input type="hidden" name="point_value" value="<%=@quest.point_value%>">
  <button>Submit</button>
</form>

</div>
