<!-- <header>
  <a href="back to quests">
    <img src="" alt=""> back arrow
  </a>

</header> -->


<h2> QUEST <%= @quest.id %> </h2>

<!-- google maps api div -->

<div class="map-wrapper">
  <div id="map"></div>
</div>

<div class="task">
  <p>
    Sticker located under bench
    Quest Value = <%= @quest.point_value%>
  </p>

  <form action="/quests/<%=@quest.id%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
    <label for="">Enter your code: </label>
    <input type="text" name="answer_input" value="">
    <input type="hidden" name="quest_id" value="<%=@quest.id %>">
    <input type="hidden" name="point_value" value="<%=@quest.point_value%>">
  <button>Submit</button>
</form>

</div>

<!-- google maps api script -->
<script>
  function initMap() {
    var flindersStreet = {lat: -37.8182711, lng: 144.9670618};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: flindersStreet
    });
    var marker = new google.maps.Marker({
      position: flindersStreet,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT54WwO2XSLwmeaRvNjQdamDP6pma-HQM&callback=initMap" async defer>
</script>




