<!DOCTYPE html>
<html>

  <head>
    <title>GemQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1 id='gemquest'>Gem Quest</h1>
      <img id='logo' src="http://via.placeholder.com/60x60" alt="">
    </header>

    <nav>
      <% if logged_in? %>
        <form action="/logout" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
          <input type="hidden" name="_method" value="delete">
          <button>logout</button>
        </form>
      <% end %>
    </nav>

    <%= yield %>

    <footer>
      Created by Mark, Jo
    </footer>

  </body>

</html>
