<!DOCTYPE html>
<html>

  <head>
    <title>GemQuest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
    <link href="https://fonts.googleapis.com/css?family=Adamina|Quicksand" rel="stylesheet">
=======
    <link href="https://fonts.googleapis.com/css?family=Gruppo|Mallanna|Nova+Mono" rel="stylesheet">

>>>>>>> admin_user
  </head>

  <body>
    <header>
      <a href="/"><h1>Gem Quest</h1></a>
    </header>

    <main>
      <%= yield %>
    </main>

        <nav>
    <!--   <a href="/">home</a> -->
        <% if logged_in? %>
<<<<<<< HEAD
          <form class="logout" action="/logout" method="post">
=======
        <p><%= @team %></p>
          <form id='logout' action="/logout" method="post">
>>>>>>> admin_user
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
            <input type="hidden" name="_method" value="delete">
            <button class="fake-link">logout</button>
          </form>
        <% end %> 

        <% if !logged_in? %>
          <a href="/">login</a>
        <% end %> 
    </nav>

<!--     <footer class="clearfix">
      <p class="copywrite">
        Copyright 2018
      </p>
      <p class="message">Created with &hearts; by
        <span class="name">Mark, Johanna & Sophie</span></p>
    </footer> -->

  </body>

</html>
